footer {
    background-color: white;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 60px;
    border-top: 1px solid #CCC;
    position: absolute;
    bottom: 0px;
}